body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.navbar {
	min-width: 60px;
	width: 10%;
	height: 100vp;
	background-color: yellow;
	display: flex;
}

.navbar-nav {
	width: 60px;
	height: 100%;
	background-color: red;
}
