.navbar {
	min-width: 60px;
	width: 10%;
	height: 100%;
	background-color: yellow;
	display: flex;
}

.navbar-nav {
	width: 60px;
	height: 100%;
	background-color: red;
}

.navbar-nav ul {
	height: 100%;
}
