body {
	height: 100%;
}

.navbar {
	width: 10%;
	height: 100%;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.navbar ul {
	height: 100%;
}

.home-content{
	display: flex;
}